/* Global Styling */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --black: #353535;
    --white: #ffffff;
    --grey: #f6f6f6;
    --blue: #276ea0;
    --deepblue: #17537e;
    --brown: #FCB07E;
    --rose-taupe: #885A5A;
    --deep-rose-taupe: #6f4444;
}

body {
    margin: 0;
    padding: 0;
    hyphens: auto;
    font-size: 1.1rem;
    font-family: 'Kanit', sans-serif;
    color: var(--black);
    text-align: center;
}

section, footer {
    padding: 4rem 2rem;
}

h1 {
    line-height: 1.5rem;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    line-height: 1.6rem;
    margin: 0 auto 1rem auto;
    inline-size: 85%;
}

p {
    line-height: 1.3rem;
    font-weight: 300;
    margin: 0 0 2rem 0
}

a {
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50px;
    padding: 0.5rem 2rem;
    line-height: 1.5rem;
}

a:hover {
    background-color: var(--deepblue);
    transition: 0.5s;

}

i {
    color: var(--white);
    cursor: pointer;
}

input {
    outline: none;
}

input::placeholder {
    font-family: 'Kanit', sans-serif;
}

.active-state {
    background-color: var(--blue)!important;
    color: var(--white)!important;
}


/* Hero Section */
.hero-section {
    padding: 2rem 2rem 0 2rem;
    background-color: var(--black);
    color: var(--white);
}

.hero-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section nav img {
    inline-size: 130px;
}

.hero-section nav div {
    display: none;
}

.hero-text {
    margin: 5rem 0 0 0;
}

.hero-text h1 {
    line-height: 2rem;
}

.hero-text p {
    margin: 0 0 2.5rem 0;
}

.hero-text img {
    inline-size: 100%;
    margin: 5rem 0 -0.399rem 0;
}


/* Benefit Section */
.benefit-section {
    display: flex;
    flex-direction: column;
}

.benefit-section div {
    padding: 2rem 0;
}

.benefit-section svg {
    inline-size: 75px;
    margin: 0 0 0.5rem 0;
    fill: var(--blue);
}


/* Features Section */
.features-section {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--grey);
    text-align: start;
}

.features-section ul li::marker {
    content: "✔  ";
    color: var(--blue);
}


/* Templates Section */
.templates-section nav {
    display: flex;
    overflow: scroll;
    margin-block-start: 1.5rem;
}

.templates-section nav::-webkit-scrollbar {
    display: none;
}

.templates-section nav a {
    padding: 0.8rem 2rem;
    line-height: 1rem;
    margin-inline-end: 1rem;
    background-color: var(--grey);
    color: var(--black);
}

.templates-grid {
    display: flex;
    overflow: scroll;
    margin-block-start: 3rem;
}

.templates-grid::-webkit-scrollbar {
    display: none;
}

.preview-button a {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    inline-size: fit-content;
    transition: 0.6s ease-in-out;
    z-index: 1;
}

.templates-grid div{
    margin-inline-end: 2rem;
    position: relative;
    inline-size: 100%;
}

.templates-grid div img {
    border-radius: 24px;
}

.templates-grid div img:hover {
    filter: blur(1px) brightness(80%);
    transition: 0.6s ease-in-out;
}

.templates-grid div img:hover + .preview-button a {
   display: block;
}



/* Platforms Section */
.platforms-section {
    background-color: var(--grey);
}

.platforms-logo {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.platforms-logo img {
    inline-size: 60px;
    margin: 1.5rem;
}


/* Custom Template Section */
.custom-template-section {
    background-color: var(--brown);
    color: var(--white);
}

.custom-template-section h1 {
    margin: 0 auto 2rem auto;
    font-size: 2rem;
    line-height: 2rem;
}

.custom-template-section a {
    background-color: var(--blue);
    color: var(--white);
}

.custom-template-section a:hover {
    background-color: var(--deepblue);
}


/* Footer Section */

.footer-section img {
    inline-size: 160px;
    margin-block-end: 1.2rem;
}

.footer-section-b {
    padding-top: 2rem;
}

.newsletter {
    padding-top: 2rem;
}

.newsletter-field input {
    inline-size: 100%;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    border: 0;
    background-color: var(--grey);
    margin-block-end: 0.5rem;
}

.newsletter-field a {
    display: block;
    inline-size: 100%;
}

.social-media {
    display: flex;
    place-content: center;
}

.social-media a {
    background-color: var(--white);
    padding: 0 0.5rem;
}

.social-media a i {
    color: var(--black);
    font-size: 2rem; 
}

.social-media a i:hover {
    color: var(--blue);
    transition: 0.5s;
}